 .state {
  fill: none; 
}

body {
    display: flex;
    justify-content: center;
    background-color: #a9a9a9;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  font: 12px sans-serif;
  background: lightgreen;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}